name: Kernel Build Lab

on:
  workflow_dispatch:

jobs:
  build_lab:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install deps
      run: |
        sudo apt update
        sudo apt install -y build-essential flex bison bc git curl wget \
          libssl-dev python3 python-is-python3 neofetch openssh-client

    - name: Start tmate SSH session
      uses: mxschmitt/action-tmate@v3
      with:
        detached: false
        
